body{
    padding: 0%;
    margin: 0%;
}

.btn{
padding: 25px;
background-color: white;
color: black;


}

.body1{

     background:url('/static/image/a.jpg'); 
     background-size: cover;
     width: 100%;
     height: 100%;
     padding: 201px;
     margin-bottom: 100px;
     background-repeat: no-repeat;
    


   
}