{% extends 'base.html' %}



{% block content %}
<div class="container mt-4">
    <div class="d-flex justify-content-around">
        <button class="btn btn-primary">HOME</button>
        <button class="btn btn-primary">FOR RENT</button>
        <button class="btn btn-primary">FOR SALE</button>
        <button class="btn btn-primary">CONTACT</button>
        <button class="btn btn-primary">FAVOURITE</button>
    </div>

</div>

<div class="container-fluid mt-4">
    <div class="body1">

    </div>
</div>

<div class="container">
    <h2>LAST HOUSES</h2>
    <div class="row">
        <div class="col-md-4">

            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>

        </div>

        <div class="col-md-4">
             
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            
        </div>

        <div class="col-md-4">
             
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            
        </div>
    </div>
</div>


<div class="container">
    <h3>PARTNERSHIP</h3>
    <div class="article"style="background-color:black;border:2px solid blue"> 
    <img src="/static/image/b.png"   style="background: black;">
    </div>


</div>





{% endblock %}