{% extends 'base.html' %}



{% block content %}

<br>
<div class="container mt-4">
    <div class="d-flex justify-content-around">
        <button class="btn btn-primary">HOME</button>
        <button class="btn btn-primary active">FOR RENT</button>
        <button class="btn btn-primary">FOR SALE</button>
        <button class="btn btn-primary">CONTACT</button>
        <button class="btn btn-primary">FAVOURITE</button>
    </div>

</div>

<br>
<div class="container d-flex justify-content-center mt-4">
<form action="" method="GET">
  {{myfilter.form}}
 <button type="submit" name="" class="btn btn-primary">Submit</button>
</form>
</div>
<div class="container" style="margin-top: 100px;" >
<h2>LAST HOUSES</h2>
<div class="row">
  
  <br>

  {% for order in orders %}
  
  <div class="col-md-4">
    
    <div class="card card-body" style="width: 18rem;">
      <img src="/static/image/{{order.image}}" class="card-img-top img-fluid" alt="...">
      <div class="card-body">
        <p class="card-text">{{order}}</p>
      </div>
    </div>
  
    {% empty%}


  NO HOME FOUND YET !!!!!!
  
   
    
  </div>
 
  {% endfor %}

 
</div>
</div>












<footer>
  <div class="container-fluid">
    <div class="article1" style="background-color: blue; margin-top: 100px;color: white;">
 <h1 class="text-center " >BYARENT</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore ullam distinctio dolorum nostrum consequatur. Atque, sint voluptas. Sint velit accusamus eos, eaque accusantium eum fugit illo recusandae incidunt praesentium vero.</p>
    </div>

    



  </div>
</footer>



{% endblock %}

